SVC_HomeMaticNotification/ConfigTemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configHMNotifier">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="notifyGroups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="notifyGroup">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="notifyBy" type="xs:string">
                            <xs:complexType>
                              <xs:attribute name="NotifyProvider" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="notifyItems">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="notifyItem">
                                  <xs:complexType>
                                    <xs:attribute name="Scope" type="xs:string" use="required" />
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="DeviceAddress" type="xs:string" use="required" />
                                    <xs:attribute name="DeviceChannel" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="ValueKey" type="xs:string" use="required" />
                                    <xs:attribute name="IsImportant" type="xs:boolean" use="required" />
                                    <xs:attribute name="QueryIntervallSeconds" type="xs:unsignedByte" use="optional" />
                                    <xs:attribute name="IsSilent" type="xs:boolean" use="optional" />
                                    <xs:attribute name="PreventNotificationStatus" type="xs:boolean" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Owner" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>